html[data-theme='personal-theme-purple'] {
  --color-primary: #000000;
  --color-secondary: #172b4d;
  --color-buttonsone: #ffffff;
  --color-buttonstwo: #000000;
  --color-typography: rgba(0, 0, 0, 0.45);

  --font-size-primary: 2.875rem;
  --font-size-secondary: 0.875rem;
  --font-size-buttonsone: 1rem;
  --font-size-buttonstwo: 1rem;
  --font-size-typography: 1rem;

  --bg-primary: #f3f0ff;
  --bg-secondary: #ffffff;

  --bg-buttonsone: #524fd5;
  --bg-buttonstwo: #e9e2ff;

  --rad-buttonsone: 45px;
  --rad-buttonstwo: 45px;

  --font-family-primary: 'Poppins', sans-serif;
}
